extends layout
block content
	h1 用户信息
	div
		label
			span 用户名:
			!{result.user_name}
	div
		label
			span 真实姓名:
			!{result.real_name}
	div
		label
			span 邮件:
			!{result.email}
	div
		label
			span 手机号:
			!{result.mobile_phone}
